body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./img/Header\ Background.jpg);
}
.header__navbar{
    width: 100%;   
    border-bottom: 1px solid rgb(255, 255, 255,.5);
}
.header__navbar__container{
    width: 550px;
    margin:0 auto;
}
.header__navbar__list{
    margin: 0;
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: space-between;
}
.header__navbar__list-item{
    padding: 10px 20px;
    font-size:18px;
    font-weight: 300;
    color:#fff;
    text-transform: uppercase;
}

.header__title-text{
    text-align: center;
    font-size: 80px;
    margin: 0;
    color:#fff;
    padding-bottom: 25px;
}
.container{
    width: 750px;
    margin: 0 auto;
}
.produce1{
    margin:40px 0;
}
.produce__title{
    font-size: 30px;
    text-align: center;
}
.product__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.produce1__item{
    margin:20px;
    width: 250px;
}
.produce__item--title{
    font-size: 20px;
    text-align: center; 
}
.produce1__item img{
    width: 250px;
    margin:10px 0;
}
.produce__item__detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-add{
    padding: 8px 10px;
    border:none;
    border-radius: 5px;
    outline: none;
    background:#56CCF2;
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-add:hover{
    cursor: pointer;
    background:rgb(5, 182, 241);
}
.produce2{
    margin:20px;
}
.container__cart{
    width: 900px;
    margin: 0 auto;
}
.cart__detail{
    display: flex;
    justify-content: space-between;
}
.cart__detail--item{
    width: 45%;
    margin-right: 20px;
    border-bottom: 1px solid #000;
}
.cart__detail--price{
    width: 20%;
    margin-right: 20px;
    border-bottom: 1px solid #000;

}
.cart__detail--quantity{
    width: 35%;
    border-bottom: 1px solid #000;

}
.cart__detail span{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
}
.cart__total{
    text-align:right;
    margin:10px 0;
}
.cart__total-text{
    font-size: 30px;
    font-weight: bold;
    display:inline-block;
    margin-right: 20px;
}
.btn-purchase{
    margin:0 auto;
    display:block;
    border: none;
    border-radius: 5px;
    background:#56CCF2;
    text-transform: uppercase;
    font-size: 30px;
    padding: 12px;
    color:#fff;
    margin-bottom: 20px;
}
.btn-purchase:hover{
    cursor: pointer;
    background:rgb(5, 182, 241);
}
.cart__add-produce{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.cart__add-produce-item{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin:10px 0;
}
.center{
    display:flex;
    align-items: center;
    height: 100%;
    padding-bottom: 5px;
}
.cart__add-produce-item-img{
    width: 75px;
    border-radius: 10px;
}
.car__add-produce-item-name{
    font-size: 22px;
    color:#333;
    margin:0 10px;
}
.car__add-produce-item-quantity{
    width: 50px;
    height: 34px;
    border-radius: 5px;
    border:1px solid rgb(5, 182, 241);
    box-sizing: border-box;
    margin-right: 25px;
    background: #eee;
    text-align: center;
}
.car__add-produce-item-remove{
    color:white;
    font-weight: bold;
    background:#EB5757;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    text-transform: uppercase;
}
.car__add-produce-item-remove:hover{
    cursor: pointer;
    background:rgb(197, 5, 5);
}
